---
- name: Setting up NFS storage
  block:
    - name: Include the NFS Setup role tasks
      include_role:
        role: openshift_nfs
        tasks_from: setup
      vars:
        l_nfs_base_dir: /exports

    - name: Ensure the prometheus exports are created
      include_role:
        role: openshift_nfs
        tasks_from: create_export
      vars:
        l_nfs_base_dir: /exports
        l_nfs_export_config: openshift_prometheus
        l_nfs_export_name: "{{ item }}"
        l_nfs_options: "*(rw,no_root_squash,no_wdelay)"
      with_items:
        - "{{ openshift_prometheus_pv_exports }}"

  delegate_to: "{{ openshift_prometheus_nfs_server }}"

######################################################################
# Create the required Prometheus PVs. Check out these online docs if you
# need a refresher on includes looping with items:
# * http://docs.ansible.com/ansible/playbooks_loops.html#loops-and-includes-in-2-0
# * http://stackoverflow.com/a/35128533
#
# TODO: Handle the case where a PV template is updated in
# openshift-ansible and the change needs to be landed on the managed
# cluster.

- include: create_pvs.yaml
  with_items: "{{ openshift_prometheus_pv_data }}"
