apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{obj_name}}"
  namespace: "{{ namespace }}"
data:
  alertmanager.yml: |
    global:

    route:
      receiver: message-buffer-wh
      group_by: []

    receivers:
    - name: message-buffer-wh
      webhook_configs:
      - url: http://localhost:9099/topics/alerts
