groups:
- name: example-rules
  interval: 30s # defaults to global interval
  rules:
  - alert: Node Down
    expr: up{job="kubernetes-nodes"} == 0
    annotations:
      miqTarget: "ContainerNode"
      severity: "HIGH"
      message: "{{ '{{' }}{{ '$labels.instance' }}{{ '}}' }} is down"
{% if openshift_prometheus_external_rules is defined and openshift_prometheus_external_rules is not none %}
  - {{ openshift_prometheus_external_rules }}
{% endif %}
