apiVersion: v1
kind: Secret
metadata:
  name: "{{ name }}"
{% if namespace is defined%}
  namespace: "{{ namespace}}"
{% endif %}
{% if annotations is defined%}
  annotations:
{% for key, value in annotations.iteritems() %}
  {{key}}: {{value}}
{% endfor %}
{% endif %}
{% if labels is defined%}
  labels:
{% for k, v in labels.iteritems() %}
    {{ k }}: {{ v }}
{% endfor %}
{% endif %}
stringData:
  session_secret: "{{session_secret}}="
