---
######################################################################)
# Users, projects, and privileges

- name: Run pre-install CFME validation checks
  include: validate.yml

- name: "Ensure the CFME '{{ openshift_cfme_project }}' namespace exists"
  oc_project:
    state: present
    name: "{{ openshift_cfme_project }}"
    display_name: "{{ openshift_cfme_project_description }}"

- name: Create and Authorize CFME Accounts
  include: accounts.yml

######################################################################
# STORAGE - Initialize basic storage class
#---------------------------------------------------------------------
# * nfs - set up NFS shares on the first master for a proof of concept
- name: Create required NFS exports for CFME app storage
  include: storage/nfs.yml
  when: openshift_cfme_storage_class == 'nfs'

#---------------------------------------------------------------------
# * external - NFS again, but pointing to a pre-configured NFS server
- name: Note Storage Type -  External NFS
  debug:
    msg: "Setting up external NFS storage, openshift_cfme_storage_class is {{ openshift_cfme_storage_class }}"
  when: openshift_cfme_storage_class == 'nfs_external'

#---------------------------------------------------------------------
# * cloudprovider - use an existing cloudprovider based storage
- name: Note Storage Type - Cloud Provider
  debug:
    msg: Validating cloud provider storage type, openshift_cfme_storage_class is 'cloudprovider'
  when: openshift_cfme_storage_class == 'cloudprovider'

#---------------------------------------------------------------------
# * preconfigured - don't do anything, assume it's all there ready to go
- name: Note Storage Type - Preconfigured
  debug:
    msg: Skipping storage configuration, openshift_cfme_storage_class is 'preconfigured'
  when: openshift_cfme_storage_class == 'preconfigured'

######################################################################
# APPLICATION TEMPLATE
- name: Install the CFME app and PV templates
  include: template.yml

######################################################################
# APP & DB Storage

# For local/external NFS backed installations
- name: Create the required App and DB PVs using local/external NFS
  include: storage/create_pvs.yml
  when:
    - openshift_cfme_storage_class in ['nfs', 'nfs_external']

######################################################################
# CREATE APP
- name: Ensure the CFME App is created
  oc_process:
    namespace: "{{ openshift_cfme_project }}"
    template_name: manageiq
    create: True
    params: "{{ openshift_cfme_template_parameters }}"
